@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nova+Square&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f7f4e9;
    font-family: Arial, "Consolas", sans-serif;
    user-select: none;
}

.page-content {
    margin-top: 5rem;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 8px;
    border: 2px solid #f3f3f3;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f3f3f3;
}
